<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<string>NO</string>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>649989993243-4g5qtoubj1v6vbqv3ks93d5b6kj2o7h5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.649989993243-4g5qtoubj1v6vbqv3ks93d5b6kj2o7h5</string>
	<key>API_KEY</key>
	<string>AIzaSyAlShCbY7E5pht8lccAWKZv9TeIEhVtnVs</string>
	<key>GCM_SENDER_ID</key>
	<string>649989993243</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ActiveBystander</string>
	<key>PROJECT_ID</key>
	<string>active-bystander</string>
	<key>STORAGE_BUCKET</key>
	<string>active-bystander.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:649989993243:ios:e0e442b4fc60b155</string>
	<key>DATABASE_URL</key>
	<string>https://active-bystander.firebaseio.com</string>
</dict>
</plist>
